 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" >
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#"><p></p></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="/home/question">Back</a>
                    </li>
                    <li>
                        <a href="/home/index">Home</a>
                    </li>
                    <li>
                        <a href="/users/sign_out">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
<!-- 게시판 글쓰기-->
<body style="margin-top:30px;">
    <div class="container" style="border-radius:20px; margin-top:70px; background:rgba(255,255,255,0.6);">
        <div style="margin-top: 30px; margin-bottom:30px;">
        </div>
        <div class="table-responsive col-md-10" style="margin-left: 80px;">
            <center>
            <table class="table">
                
                <tr align="center">
                    <td style="width:20%;">제목</td>
                    <td style="width:80%;"><%=@view_post.title%></td>
                </tr>
                <tr align="center">
                    <td style="width:20%;">작성자</td>
                    <td style="width:80%;"><%=@view_post.quser%></td>
                </tr>
                <tr>
                    <td align="center" style="width:20%;">내용</td>
                    <td style="width:80%;"><%=@view_post.content%></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br>
                        <div style="border-radius:10px; background:rgba(213,213,213,0.6); padding:20px;">
                            <% @view_post.replies.each do |r| %>
                            <p><%= r.content %></p>
                            <% end %>
                        
                            <form action="/home/reply_write" method="POST">
                                <input type="hidden" value="<%= @view_post.id %>" name="id_of_post">
                                <textarea class="form-control" rows="2" id="content" name="content"></textarea><br>
                                <button type="submit" class="btn btn-default" align="left">Submit</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</body>