
<style>
  
a {
    color: black;
    text-decoration: none;
}


</style>


<div class="logo">
  
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-block">
    <h1>LOGIN</h1>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <button> <% f.submit "LOGIN" %>LOGIN</button>
   
    <p style="font-size:12px; text-align:left; margin-top: 20px;"><%= render "devise/shared/links" %></p>
  </div>
<% end %>


